<!-- include head template from partials dir -->
<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %>
    <!-- <%= 'EJS SYntax' %>  -->
    <h1>Welcome to Templating Demo Home Page <%= 'I love Hu Tao' %></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Ea cum, adipisci esse maiores officia porro quaerat reiciendis 
        provident praesentium vitae nam magnam id harum corporis, illo 
        in iure voluptatem atque?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Ea cum, adipisci esse maiores officia porro quaerat reiciendis 
        provident praesentium vitae nam magnam id harum corporis, illo 
        in iure voluptatem atque?
    </p>
</body>
<%- include('partials/footer') %>
</html>